/* Styles for the first project */

#image {
        max-width: 100%;
        width: 100%;
        display: block;
        align-items: center;
      }
body {
  font-size: 100%;
}

      li {
  
  padding: 0% 0% 5% 5%;
}
      .pictures {
        position: relative;
        width: 50%
            }
      
      .pictures img {
        position: absolute;
        opacity: 0;
        width: 80%;
        left: 100%;
        top: -20px;
        transition: opacity .5s, top .5s;
      }
      
      .pictures:hover img {
        opacity: 1;
        top: -50%;
      }

      @media screen and (min-width: 320px) {
        body {
          font-size: calc(16px + 6 * ((100vw - 320px) / 680));
        }
      }
      @media screen and (min-width: 1000px) {
        body {
          font-size: 22px;
        }
      }