/* Settings for website */
* {
  box-sizing: border-box;
  outline: none;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
main {
  display: flex;
  flex-direction: column;
}
/* Intro section */
#title-sec {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      0deg,
      rgba(94, 93, 97, 0.2),
      rgba(33, 52, 61, 0.8)
    ),
    url(https://lh3.googleusercontent.com/pw/ACtC-3cj5W83F2sW0t_e3rPs8LwsRIsldRr_hDuzNZn72KE_Fd8yDwjmdzyuMcYtyFt0Sy0roCJIsvU22DD8yLHWWT3RYMUwC7L6CBUiOEoaQLaP4O9KL5QJ9QkMraugIe9AOqxfcV8-mDmZ-HIVjc0-93z1Pw=s835-no?authuser=0);
  background-repeat: no-repeat;
  background-size: cover;
}
.title-top #top-img {
  height: 4em;
  margin-top: 1em;
  margin-left: 1em;
}
.title-mid {
  text-align: center;
  max-width: 100%;
  margin: 0;
  font-size: calc(1em + 5vh);
  font-weight: bold;
  line-height: 0.9;
  font-weight: 900;
  color: white;
}
.title-bot {
  display: flex;
  margin-bottom: 4em;
  font-size: calc(0.8em + 0.9vh);
}
.button {
  padding: 0.5em 0.67em;
  color: white;
  text-decoration: none;
  border: 0.1em solid white;
  cursor: pointer;
}

.button-primary {
  color: black;
  background-color: white;
}
/* Intro section*/
.intro-txt {
  padding: 2em;
  font-size: 110%;
  font-weight: 900;
  color: white;
  background: linear-gradient(
    0deg,
    rgba(31, 66, 112, 0.651),
    rgba(27, 83, 156, 0.945)
  );
}

/* Img properties for mobile*/
#gallery-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 100vh;
}
.img-block {
  display: grid;
  grid-auto-flow: column;
  width: 100vw;
  max-width: 100%;
  height: 30%;
  overflow-x: scroll;
  cursor: pointer;
}
.img-block img {
  width: 150px;
  height: 100%;
  object-fit: cover;
}
.large-img {
  position: relative;
  max-width: 100%;
  height: 70%;
}

.img-block::-webkit-scrollbar {
  width: 0;
  height: 0.5em;
}
.img-block::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.img-block::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
#expandedImg {
  max-height: 100%;
  width: 100%;
  object-fit: contain;
}
/* Expanding image text */
.large-img #imgtext {
  position: absolute;
  top: 15px;
  left: 15px;
  color: black;
  background-color: white;
  font-size: 20px;
  padding: 0.2em;
}
#watermark {
  position: absolute;
  top: 50%;
  left: 12.5%;
  opacity: 0.5;
  transform: rotate(45deg);
  font-size: 5em;
}

/* Img properties for full screen*/
@media (min-width: 600px) {
  #gallery-wrapper {
    display: flex;
    flex-direction: row;
  }
  .img-block {
    display: grid;
    grid-auto-flow: row;
    width: 30%;
    height: 100vh;
    overflow-y: scroll;
  }
  .img-block img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  .large-img {
    width: 70%;
    height: 100vh;
  }
  .img-block::-webkit-scrollbar {
    width: 0.5em;
    height: 0;
  }
  #expandedImg {
    height: 100%;
    max-width: 100%;
    object-fit: contain;
  }
}
