/* Settings for website */
* {
  box-sizing: border-box;
  outline: none;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
main {
  display: flex;
  flex-wrap: wrap;
}
#title-sec {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      0deg,
      rgba(84, 57, 202, 0.4),
      rgba(0, 183, 255, 0.2)
    ),
    url(https://lh3.googleusercontent.com/pw/ACtC-3cj5W83F2sW0t_e3rPs8LwsRIsldRr_hDuzNZn72KE_Fd8yDwjmdzyuMcYtyFt0Sy0roCJIsvU22DD8yLHWWT3RYMUwC7L6CBUiOEoaQLaP4O9KL5QJ9QkMraugIe9AOqxfcV8-mDmZ-HIVjc0-93z1Pw=s835-no?authuser=0);
  opacity: 1;
  background-repeat: no-repeat;
  background-size: cover;
}
#title-sec div {
  text-align: center;
  font-size: 12vw;
  font-weight: 900;
  color: white;
  opacity: 1;
}
.img-block {
  display: grid;
  width: 40%;
  height: 100vh;
  overflow: scroll;
}
.img-block img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.large-img {
  width: 60%;
  height: 100vh;
  border: 2px solid rgb(2, 0, 128);
}
