/* Settings for website */
* {
  box-sizing: border-box;
  outline: none;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}
a {
  color: #000;
  text-decoration: none;
}
main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
main #main-wrapper {
  flex: 1 0 auto;
}
/*Header design elements*/
header {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: sticky;
  top: 0;
  background-color: #e0afa1;
  z-index: 100;
}
