/* Settings for website */
* {
  box-sizing: border-box;
  outline: none;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}
a {
  color: #000;
  text-decoration: none;
}
main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
main #main-wrapper {
  flex: 1 0 auto;
}
/*Header design elements*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #e0afa1;
  z-index: 100;
}
.header-img {
  max-height: 50px;
  width: auto;
}
@media (min-width: 400px) {
  .header-img {
    max-height: 100px;
    width: auto;
  }
}

/*Mid section of website content*/
#display {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
  height: auto;
  border-left: 0 solid #e0afa1;
  border-right: 0 solid #e0afa1;
}

.sample {
  width: 100%;
  height: auto;
}

/*Footer design elements*/
footer {
  border-top: 2px solid black;
  display: flex;
  flex-direction: row;
  padding: 0 1% 0 1%;
  justify-content: space-between;
  background-color: #e0afa1;
  position: sticky;
  bottom: 0;
}
