footer {
  padding: 0.25em 0 0 0;
}

footer div {
  left: 0;
  z-index: 100;
  background-color: #ed7d31;
  box-shadow: 0 -15px 15px -15px rgba(0, 0, 0, 0.6);
  padding: 0.125em 0;
  border: 0;
  width: 100%;
  margin: 0;
  text-align: center;
}
