* {
    box-sizing: border-box;
  }

body {
    display: block;   
  }
 

  /* Nav bar settings */
  #navbar {
    display: flex; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    background-color: #ED7D31; 
    border-bottom: 1pt solid;
    border-color: rgb(0, 0, 0);
  }
  #header-img {
    display: flex;
    align-items: flex-start;
    height: 100px;
  }
 #nav-buttons{
   display: flex;
   margin-left: auto;
 }
 .nav-link {
  display: block;
  font-size: 22px;
  padding: 11px;
 }
  .nav-link:hover{
    background-color: black;
    color: white;
    box-shadow: .1em .1em .1em .1em rgb(44, 44, 43);
}
/*Welcome section with video and main message */
  #welcome-section {
    text-align:center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 50em;
    left: 0;
    z-index: 10;
    background-color: rgba(128, 128, 128, 0.5);
      }


/* Main alignment of lower webpage */

  .container1{
  margin-left: auto;
  margin-right: auto;
  max-width: 60em; 

}
  /*Mobile first desgin */
  @media (max-width: 28.75em){
    body {
      font-size: 55%;
    }
  }
  