/* Settings for website */
* {
  box-sizing: border-box;
  outline: none;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}
main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
main #main-wrapper {
  flex: 1 0 auto;
}
/* Settings for header spacing*/
#spacer {
  min-width: 100%;
  padding-bottom: 4.68em;
}
#title {
  text-align: center;
  margin: 2% 10%;
}
/* Center form and add borders for look*/
#form-wrap {
  margin: 0 10% 5% 10%;
  border: 1px solid black;
  box-shadow: 5px 5px 5px 5px darkgray;
}
/* Remove borders on all fieldsets */
.pure-group {
  border: 0;
}
/* Allow text to be aligned left when page is shrunk */
#number-label {
  display: inline-block;
  vertical-align: top;
  padding-left: 75px;
  position: relative;
}
#number-label input {
  position: absolute;
  left: 0;
  top: 0;
}
/* Allow text to be aligned left when page is shrunk */
.align-input {
  display: inline-block;
  vertical-align: top;
  padding-left: 25px;
  position: relative;
}
.align-input input {
  position: absolute;
  left: 0;
  top: 0;
}
/* Header text adjustments */
.text {
  text-align: justify;
  font-weight: bold;
  margin: 0.5em 0;
}
.texth {
  text-align: center;
  width: auto;
  font-weight: bold;
  margin: 0.5em 0.5em;
}
/* Alignment for text area */
#center {
  text-align: center;
  width: 75%;
  margin: auto;
}
textarea {
  width: 100%;
}
/* Hide the honeypot for spammers */
.honeypot-field {
  display: none;
}
/* Button properties */
#send-me {
  text-align: center;
}
.button-success {
  color: black;
  border-radius: 4px;
  padding: 2%;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: #ed7d31;
}
.button-success:hover {
  background: #ffffff;
}
