/* Settings for website */
* {
  box-sizing: border-box;
  outline: none;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}
main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border: 4px solid peru;
}
main #main-wrapper {
  flex: 1;
  border: 4px solid purple;
}
/* Settings for header spacing*/
#spacer {
  min-width: 100%;
  padding-bottom: 4.68em;
  border: 2px solid blue;
}
/* Setting for main content*/
#middle-wrapper {
  flex-direction: column;
  flex: 1;
  border: 2px solid red;
}
main #navigation {
  position: sticky;
  top: 4.68em;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  border: 2px solid blue;
}

#navbar {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid black;
}

#navbar ul {
  width: auto;
  text-align: center;
  list-style-type: none;
  border: 2px solid yellow;
}
#navbar ul a {
  padding: 0 0.25em;
}
#content-wrapper {
  height: auto;
  width: 50%;
  background-color: rosybrown;
  border: 2px solid rgb(208, 255, 0);
}
#content-wrapper #main-doc {
  flex-direction: column;
  padding-left: 2%;
}

@media only screen and (min-width: 800px) {
  #middle-wrapper {
    flex-direction: row;
    flex: 1;
    border: 2px solid red;
  }
  main #navigation {
    position: sticky;
    top: 4.68em;
    width: 10em;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 2px solid blue;
  }
  #navbar ul a {
    flex: ;
    padding: 0 0.25em;
  }
}
