/* Settings for website */
* {
  box-sizing: border-box;
  outline: none;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}
main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
main #main-wrapper {
  flex: 1 0 auto;
}
/* Settings for header spacing*/
#spacer {
  min-width: 100%;
  padding-bottom: 4.68em;
}
/* Styles for the first project */

#main-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

#real-dino {
  width: 70%;
  margin: 0 auto;
}
.img-caption {
  font-size: 80%;
}
.tribute-info {
  text-align: left;
  padding: 0 5%;
}
#scroll-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  height: 100%;
  box-shadow: -5px 0 5px -5px #333, 5px 0 5px -5px #333;
}
.pic-wrapper {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 10%;
  right: 0;
  left: 100%;
  width: 50%;
  height: auto;
}

/* Section for tribute time line picture and text position*/

.pictures {
  display: flex;
  flex-direction: column;
  width: 50%;
  list-style: none;
  padding: 2.5% 0 2.5% 2%;
  text-align: left;
}
.scroll-pic {
  display: none;
  width: 100%;
  max-width: 50vw;
  height: auto;
}
.pictures:active {
  font-weight: 900;
}

li:active + div img {
  display: block;
}
.dino-gif {
  width: 5em;
  height: 5em;
  animation: shimmy 10s infinite;
  animation-direction: alternate;
}
@keyframes shimmy {
  0% {
    transform: translate(10vw);
  }
  100% {
    transform: translate(80vw);
  }
}

/* Section for Large Screen adjustments*/
@media (min-width: 800px) {
  .scroll-pic {
    display: none;
    width: auto;
    max-height: 50vh;
    height: 100%;
  }
  .pictures:hover {
    font-weight: 900;
  }

  li:hover + div img {
    display: block;
  }
}
